{% extends 'base.html.twig' %}

{% block title %}Symfony Recipe{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur Symfony Recipe</h1>
        <p class="lead">Symfony Recipe est une application de création de recettes.</p>
        <hr class="my-4">
        <p>Pour commencer rendez-vous sur la page d'inscription.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
    </div>

    <div class="mt-4">
        <h2 class="mt-4">Recettes de la communauté</h2>
        <div class="d-flex justify-content-between flex-wrap">
            {% for recipe in recipes %}
            <div class="card text-white bg-primary mb-3 mt-4" style="max-width: 20rem;">
                <div class="card-header">Recette n°{{ recipe.id }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ recipe.name }}</h4>
                    <p class="card-text">{{ recipe.description|slice(0, 100) ~ '...' }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
